# Shipping API Credentials

# Gemini API
NEXT_PUBLIC_GEMINI_API_KEY=

# Endereços de Origem (JSON)
# Preencha estes segredos com o objeto JSON correspondente
ORIGIN_BH_JSON=
ORIGIN_CRV_JSON=
# Documento principal (CNPJ) para remetente empresa
ORIGIN_DOCUMENT=
# CPF do responsável para validação
ORIGIN_CPF=

# Melhor Envio
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_URL=https://sandbox.melhorenvio.com.br
MELHOR_ENVIO_WEBHOOK_SECRET=

# Correios (Contrato)
CORREIOS_USER=
CORREIOS_ACCESS_CODE=
CORREIOS_CONTRACT=
CORREIOS_POSTAGE_CARD=
CORREIOS_DR=

# Bling ERP
BLING_API_KEY=
BLING_CLIENT_ID=
BLING_CLIENT_SECRET=
APP_URL=

# Superfrete
SUPERFRETE_TOKEN=
SUPERFRETE_URL=https://api.superfrete.com/api/v0

# Total Express
# TOTAL_EXPRESS_USER=
# TOTAL_EXPRESS_PASS=
# TOTAL_EXPRESS_URL=https://edi.totalexpress.com.br/webservice_calculo_frete_v2.php
