{
  "openapi": "3.1.0",
  "info": {
    "title": "Pré-postagem",
    "description": "Pré-Postagem<br/><br/><b>Tipo da disponibilização: </b> Ambas (Interna / Externa)<b>Classificação de acesso interno:</b> Restrito<br /><b>Classificação de acesso externo:</b> Restrito<br /><b>Tipo de autorização externa:</b> Cartão de Postagem<br /><b>Exige serviço:</b> Sim<br /></div>",
    "version": "2.0.32",
    "x-nuApi": 36,
    "x-serviceId": "prepostagem",
    "x-ambiente": "PRODUCAO"
  },
  "servers": [
    {
      "url": "https://api.correios.com.br/prepostagem",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/v1/prepostagens": {
      "post": {
        "tags": [
          "Pré-Postagem Nacional (Objetos Registrados)"
        ],
        "summary": "Permite criar uma Pré-Postagem.",
        "operationId": "preposta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPrePostagemExternaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrePostagem"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/rotulo/range": {
      "post": {
        "tags": [
          "Emissão de Rótulos"
        ],
        "summary": "Permite solicitar range de etiquetas.",
        "operationId": "range",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RangeRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/rotulo/lote/assincrono/pdf": {
      "post": {
        "tags": [
          "Emissão de Rótulos"
        ],
        "summary": "Para objetos Simples, solicita de maneira assíncrona a geração do rotulo. Para LOTES de pré-postagem Simples. (somente para geração de rótulos de objetos SIMPLES).",
        "operationId": "solicitaRotulosPDF",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoteRotuloRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/rotulo/assincrono/pdf": {
      "post": {
        "tags": [
          "Emissão de Rótulos"
        ],
        "summary": "Para objetos Registrados, solicita de maneira assíncrona a geração do rótulo pelos ids das pré-postagens. (somente para geração de rótulos de objetos REGISTRADOS). ",
        "operationId": "solicitaRotulosIdsPrepostagensPDF",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrePostagemRotuloRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/lote": {
      "get": {
        "tags": [
          "Pré-Postagem Nacional em Lote (Objetos Simples)"
        ],
        "summary": "Lista os lotes de forma paginada. Retorna um booleano indicando se há uma próxima página.",
        "description": "Retorna uma Lista de lotes",
        "operationId": "consultaLotesPaginado",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID do lote",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numeroCartaoPostagem",
            "in": "query",
            "description": "Cartão de postagem do cliente que gerou a pré-postagem a faturar",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCorreios",
            "in": "query",
            "description": "IdCorreios do cliente que gerou a pré-postagem à vista",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dias",
            "in": "query",
            "description": "Quantidade de dias retroagindo a partir da data atual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status da pré-postagem",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PREATENDIDO",
                "PREPOSTADO",
                "POSTADO",
                "EXPIRADO",
                "CANCELADO",
                "ESTORNADO",
                "PENDENTE"
              ]
            }
          },
          {
            "name": "tipoObjeto",
            "in": "query",
            "description": "Tipo do objeto. Indica se a consulta deve retornar objetos Simples, Registrado ou ambos. (TODOS, SIMPLES, REGISTRADO)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "TODOS",
              "enum": [
                "TODOS",
                "SIMPLES",
                "REGISTRADO"
              ]
            },
            "example": "TODOS"
          },
          {
            "name": "data",
            "in": "query",
            "description": "Data do status da prepostagem",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "idPrepostagem",
            "in": "query",
            "description": "Id da prepostagem",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tamanho da página",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseLoteProcessamentoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pré-Postagem Nacional em Lote (Objetos Simples)"
        ],
        "summary": "Realiza a importação em lote do arquivo.",
        "operationId": "processaLoteMensagens",
        "parameters": [
          {
            "name": "numeroCartaoPostagem",
            "in": "query",
            "description": "Cartão de postagem do cliente",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCorreios",
            "in": "query",
            "description": "Id Correios do cliente",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "lote": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo de lote para importação. Tipos de arquivo permitidos [TXT|CSV|JSON]"
                  }
                },
                "required": [
                  "lote"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteProcessamento"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/lista/objetosregistrados": {
      "post": {
        "tags": [
          "Pré-Postagem Nacional (Objetos Registrados)"
        ],
        "summary": "Realiza a importação de arquivo de objetos registrados.",
        "operationId": "processaObjetosRegistrados",
        "parameters": [
          {
            "name": "numeroCartaoPostagem",
            "in": "query",
            "description": "Cartão de postagem do cliente",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCorreios",
            "in": "query",
            "description": "Id Correios do cliente",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data;charset=UTF-8": {
              "schema": {
                "type": "object",
                "properties": {
                  "arquivo": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo de objetos para importação. Tipo de arquivo permitido [JSON|XLSX|CSV]"
                  }
                },
                "required": [
                  "arquivo"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteProcessamento"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/dce/dace/impressao": {
      "post": {
        "tags": [
          "Emissão de DCe"
        ],
        "summary": "Solicita impressão de Dace de prepostagem com DCe gerado internamente. Retorna dados (base64) para impressão PDF por tipo de impressão. Para o tipo Térmico, retorna texto para impressão direta.",
        "operationId": "geraDace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestImpressaoDaceDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseDace"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/assincrona": {
      "post": {
        "tags": [
          "Pré-Postagem Nacional Assíncrona (Objetos Registrados)"
        ],
        "summary": "Permite solicitar a criação de uma Pré-Postagem de forma assíncrona.",
        "operationId": "prepostaAssincrona",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPrePostagemExternaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pré-Postagem Nacional Assíncrona (Objetos Registrados)"
        ],
        "summary": "Cancela uma pré-postagem pelo código do objeto.",
        "operationId": "cancelaPrePostagemPorObjetoAsinc",
        "parameters": [
          {
            "name": "idCorreiosSolicitanteCancelamento",
            "in": "query",
            "description": "Id Correios do solicitante do cancelamento da pré-postagem.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCancelaPrePostagemDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/{id}/logisticareversa": {
      "patch": {
        "tags": [
          "Pré-Postagem Nacional (Objetos Registrados)"
        ],
        "summary": "Atualiza data de validade de pré-postagem com logística reversa.",
        "operationId": "atualizaLogisticaReversa",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador da pré-postagem",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAtualizaLogisticaReversa"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/dce": {
      "patch": {
        "tags": [
          "Emissão de DCe"
        ],
        "summary": "Permite atualizar prepostagem com chave de documento fiscal(DCe ou NFe).",
        "operationId": "atualizaDocumentoFiscal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAtualizaDce"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/prepostagens": {
      "get": {
        "tags": [
          "Pré-Postagem Nacional"
        ],
        "summary": "Lista as pré-postagens de forma paginada. Retorna um booleano indicando se há uma próxima página. É obrigatório informar combinação de parâmetros ou apenas um parâmetro relacionado a Id/Código/Eticket.",
        "description": "Retorna uma Lista de pré-postagens criadas em até 120 dias retroativos a data da consulta.",
        "operationId": "consultaPrepostagensPaginada",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID da pré-postagem. Caso seja informado, apenas este parâmetro será considerado na consulta.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoObjeto",
            "in": "query",
            "description": "Código identificador do objeto. Caso seja informado e não seja informado Id, apenas este parâmetro será considerado na consulta.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eTicket",
            "in": "query",
            "description": "E-Ticket. Caso seja informado e não seja informado Id e Código de Objeto, apenas este parâmetro será considerado na consulta.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoEstampa2D",
            "in": "query",
            "description": "Código estampa 2D de objeto franqueado pela máquina. Caso seja informado e não seja informado Id, Código de Objeto e E-ticket , apenas este parametro será considerado na consulta.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCorreios",
            "in": "query",
            "description": "IdCorreios do cliente que gerou a pré-postagem à vista. Caso seja informado, é obrigatório informar Status.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status da pré-postagem. Se não for informado parâmetro de Id/Código/Eticket, se torna obrigatório.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PREATENDIDO",
                "PREPOSTADO",
                "POSTADO",
                "EXPIRADO",
                "CANCELADO",
                "ESTORNADO",
                "PENDENTE"
              ]
            }
          },
          {
            "name": "logisticaReversa",
            "in": "query",
            "description": "Indicador de logística reversa. (S)=Sim, (N)=Não. Caso seja informado, é obrigatório informar status.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoObjeto",
            "in": "query",
            "description": "Tipo de objeto. Indica se a consulta deve retornar objetos Simples, Registrados ou Todos. Caso seja informado, é obrigatório informar também outros parâmetros, como Status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "TODOS",
                "SIMPLES",
                "REGISTRADO"
              ]
            }
          },
          {
            "name": "modalidadePagamento",
            "in": "query",
            "description": "Modalidade Pagamento: A_VISTA, A_FATURAR, A_VISTA_FATURAR ou PRESTACAO_CONTAS_REC_PAG. Caso seja informado, é obrigatório informar também outros parâmetros, como status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "A_VISTA",
                "A_FATURAR",
                "A_VISTA_FATURAR",
                "PRESTACAO_CONTAS_REC_PAG"
              ]
            }
          },
          {
            "name": "objetoCargo",
            "in": "query",
            "description": "Indicador de objeto Cargo. (S)=Sim, (N)=Não. ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataInicialCriacaoPrePostagem",
            "in": "query",
            "description": "Data Inicial da Pré-postagem no formato AAAA-MM-DD. Quando o status for PREPOSTADO ou PREATENDIDO, não é necessário informar a data, apenas o status;\r\nAo informar o código do objeto, não é necessário informar a data, apenas o código;\r\nQuando informado, o filtro de data será sempre limitado a 30 dias;\r\nPara status diferentes de PREPOSTADO ou PREATENDIDO, os campos de data são obrigatórios.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dataFinalCriacaoPrePostagem",
            "in": "query",
            "description": "Data Final da Pré-postagem no formato AAAA-MM-DD. Quando o status for PREPOSTADO ou PREATENDIDO, não é necessário informar a data, apenas o status;\r\nAo informar o código do objeto, não é necessário informar a data, apenas o código;\r\nQuando informado, o filtro de data será sempre limitado a 30 dias;\r\nPara status diferentes de PREPOSTADO ou PREATENDIDO, os campos de data são obrigatórios.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tamanho da página",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePrepostagemExternaPaginado"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/rotulo/{numeroContrato}/solicitadas": {
      "get": {
        "tags": [
          "Emissão de Rótulos"
        ],
        "summary": "Permite consultar as solicitações de range de etiquetas.",
        "operationId": "consultaRelatorioFaixas",
        "parameters": [
          {
            "name": "dataInicial",
            "in": "query",
            "description": "Data inicial no formato DD/MM/YYYY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataFinal",
            "in": "query",
            "description": "Data final no formato DD/MM/YYYY",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numeroContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitações retornadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/rotulo/{numeroContrato}/saldo": {
      "get": {
        "tags": [
          "Emissão de Rótulos"
        ],
        "summary": "Permite consultar saldo de etiquetas.",
        "operationId": "consultaRange",
        "parameters": [
          {
            "name": "numeroContrato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/rotulo/lote/{idLote}/assincrono/pdf": {
      "get": {
        "tags": [
          "Emissão de Rótulos"
        ],
        "summary": "Permite recuperar arquivo de rótulos de objetos SIMPLES que foram gerados anteriormente de forma assíncrona. (Retorna todos os rótulos de um determinado lote).",
        "operationId": "recuperaArquivoRotulo",
        "parameters": [
          {
            "name": "idLote",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idRecibo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numeroCartaoPostagem",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seqInicial",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "seqFinal",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tipoRotulo",
            "in": "query",
            "description": "Tipo de rotulo: EN-Encomenda Nacional Padrão, REN-Encomenda Nacional Reduzido, CN-Carta Nacional Padrão ,RCN-Carta Nacional Reduzido,CNE-Carta Nacional Envelope (tamanho padrão), RCNE-Carta Nacional Envelope (tamanho reduzido), EI-Encomenda Internacional, CI-Carta Internacional",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formatoRotulo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imprimeRemetente",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/rotulo/download/assincrono/{idRecibo}": {
      "get": {
        "tags": [
          "Emissão de Rótulos"
        ],
        "summary": "Consulta pelo id do recibo os rótulos solicitados assincronamente pelos métodos POST de geração de objetos simples ou registrados.",
        "operationId": "getRotuloPorRecibo",
        "parameters": [
          {
            "name": "idRecibo",
            "in": "path",
            "description": "Id recibo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/postada": {
      "get": {
        "tags": [
          "Pré-Postagem Nacional (Objetos Registrados)"
        ],
        "summary": "Consulta detalhes de pré-postagem após realização da postagem.",
        "operationId": "consultaMovimento",
        "parameters": [
          {
            "name": "codigoObjeto",
            "in": "query",
            "description": "Código identificador do objeto.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovimentoPostagemDTO"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/lote/{idLote}": {
      "get": {
        "tags": [
          "Pré-Postagem Nacional em Lote (Objetos Simples)"
        ],
        "summary": "Verifica o status do lote de pré-postagens gerado.",
        "operationId": "statusLoteMensagem",
        "parameters": [
          {
            "name": "idLote",
            "in": "path",
            "description": "ID do lote gerado",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numeroCartaoPostagem",
            "in": "query",
            "description": "Cartão de postagem do cliente que gerou o lote",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseProcessamentoEmLoteDTO"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/lote/{idLote}/sequencia": {
      "get": {
        "tags": [
          "Pré-Postagem Nacional em Lote (Objetos Simples)"
        ],
        "summary": "Recupera as Pre-postagens de um lote e seu número de sequencia.",
        "operationId": "getPrePostagensEmSequencia",
        "parameters": [
          {
            "name": "idLote",
            "in": "path",
            "description": "ID do lote gerado",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numeroCartaoPostagem",
            "in": "query",
            "description": "Cartão de postagem do cliente que gerou o lote",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seqInicial",
            "in": "query",
            "description": "Sequencia Inicial de prepostagem em lote",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "seqFinal",
            "in": "query",
            "description": "Sequencia Inicial de prepostagem em lote",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponsePrePostagensEmSequenciaDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/lote/{idLote}/prepostagens": {
      "get": {
        "tags": [
          "Pré-Postagem Nacional em Lote (Objetos Simples)"
        ],
        "summary": "Lista as pré-postagens por lote de forma paginada. Retorna um booleano indicando se há uma próxima página.",
        "description": "Retorna uma Lista de pré-postagens de determinado lote",
        "operationId": "consultaPrepostagens",
        "parameters": [
          {
            "name": "idLote",
            "in": "path",
            "description": "ID do lote",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tipoObjeto",
            "in": "query",
            "description": "Tipo do objeto. Indica se a consulta deve retornar objetos Simples, Registrado ou ambos",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "TODOS",
                "SIMPLES",
                "REGISTRADO"
              ]
            },
            "example": "TODOS, SIMPLES, REGISTRADO"
          },
          {
            "name": "busca",
            "in": "query",
            "description": "Parâmetro para busca de pre postagens por id do lote, data, id da prepostagem ou nome do destinatário",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tamanho da página",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsePrePostagemAgrupadaLoteDTO"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Caso ocorra algum erro no servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prepostagens/lote/importado/{idPrepostagem}": {
      "get": {
        "tags": [
          "Pré-Postagem Nacional em Lote (Objetos Simples)"
        ],
        "summary": "Retorna as informações do lote importado para a pré-postagem ",
        "operationId": "recuperaLotePeloIdPrepostagem",
        "parameters": [
          {
            "name": "idPrepostagem",
            "in": "path",
            "description": "ID da pré-postagem",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoteImportacaoPrePostagem"
                }
              }
            }
          },
          "400": {
            "description": "Caso ocorra alguma validação necessária por parte do requisitante.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse",
                  "properties": {
                    "msgs": {
                      "type": "array",
                      "description": "Mensagens",
                      "items": {
                        "type": "string",
                        "description": "Mensagens"
                      }
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora de ocorrência do evento."
                    },
                    "method": {
                      "type": "string",
                      "description": "Método HTTP que foi requisitado."
                    },
                    "path": {
                      "type": "string",
                      "description": "URL que foi requisitada."
                    },
                    "causa": {
                      "type": "string",
                      "description": "A causa da mensagem."
                    },
                    "stackTrace": {
                      "type": "string",
                      "description": "Detalhe da mensagem."
                    }
                  }
                }
              }
            }
          },
[...]
